<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>
        <main>
            <section>
                <form class="" id = "text" onsubmit="return Client.handleSubmit(event)">
                    <input id="inputURL" type="text" name="input" value=""  placeholder="Input the Article URL">
                    <input type="submit" id = "submit" name="" value="Analyse Sentiments" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <div id="title"></div>
                <div id="headers"></div>
                <div id="res"><ul>  
                    <li id = "conf"></li>
                    <li id = "pol"></li>
                    <li id = "obj"></li>
                    <li id = "iron"></li>
                    <li id = "agree"></li>
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <p>Done By Ahmed ElAmory</p>
        </footer>
        <script>
            if('serviceWorker' in navigator){
                window.addEventListener('load', () =>{
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
   
</html>